/* Default background color */
body {
    background-color: rgb(0, 0, 0);
    /* Default color */
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: turquoise;
    margin-bottom: 20px;
}

/* About me box styles */
.about-me {
    justify-content: space-between;
    padding: 10px;
    background-color: lightblue;
    margin-bottom: 20px;
}

/* More about me box styles */
.more-about-me {
    justify-content: space-between;
    padding: 10px;
    background-color: lightgreen;
    margin-bottom: 20px;
}

/* Table and technical skills section styles */
.table {
    justify-content: space-between;
}

/* Hobbies section styles */
.hobbies-info {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

/* Hobbies images styles */
.hobbies-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 1px;
    margin: 1px;
}

/* Custom image styles */
.custom-img {
    max-width: 100%;
    height: auto;
    max-height: 220px;
    /* Specify the maximum height */
}

/* Reflection Styles */
.reflection {
    justify-content: space-between;
    padding: 10px;
    background-color: lightcoral;
    margin-bottom: 20px;
}

/* Reflection Lower Styles */
.reflection-lower {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightcoral;
    margin-bottom: 20px;
}

/* Report div styles */
.report {
    padding: 10px;
    background-color: rgb(21, 211, 138);
}

/* Change background color to orange if screen width is greater than 460px */
@media (max-width: 460px) {
    body {
        background-color: white;
    }
}